@import '../../assets/style/shared.scss';

.administration-container {
	width: 100%;
	max-width: 385px;
	min-height: 300px;
	padding: 20px;
	margin: 100px auto;

	background: white;
	border: 1px solid $medium-grey;

	&__title-wrapper {
		width: 100%;
		padding: 15px 0 25px 0;
		margin-bottom: 20px;
		border-bottom: 2px solid $medium-grey;
	}

	&__title {
		text-align: center;
		font-size: 24px;
	}
}
