@import '../../../assets/style/shared.scss';

.modal {
	$this: &;

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	&--open {
		display: block;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba($dark, .75);
	}

	&__box {
		position: fixed;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		max-height: 85%;
		min-width: 500px;
		overflow: auto;
		background: $white;
		border: 2px solid $medium-grey;
	}
}
