@import '../../../assets/style/shared.scss';

.user-nav {
    $component: &;

    width: 100%;
    height: 30px;

    margin: 20px 0;

    &__nav {
        height: 100%;

        &-link {
            height: 100%;
            display: inline-flex;
            align-items: center;
            padding: 0 30px;
            background: olivedrab;
            border-right: 1px solid pink;

            &:hover, &--active {
                background: pink;
            }

            &:last-child {
                border: none;
            }
        }
    }
}
