@import '../../../assets/style/shared.scss';

.register {
    $this: &;
    width: 100%;

    &__form {
        padding-bottom: 20px;
        border-bottom: 2px solid $medium-grey;
    }

    &__error {
        @extend %error-message;
    }

    .input {
        margin-bottom: 7px;
    }
}
