@import '../../../assets/style/shared.scss';

.global-header {
    $component: &;

    width: 100%;
    height: 62px;
    background: $light-red;
    box-shadow: 0 2px 2px 0 rgba($dark, .2);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: $max-site-width;
        margin: 0 auto;
    }

    &__logo {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 200px;
        background: blue;
    }

    &__nav {
        height: 100%;

        &-link {
            height: 100%;
            display: inline-flex;
            align-items: center;
            padding: 0 30px;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            color: $light-grey;
            transition: all 300ms ease-in-out;

            &:hover, &--active {
                background: rgba($white, .25);
                border-left: 1px solid $dark-red;
                border-right: 1px solid $dark-red;
                background: $medium-red;
                color: $medium-grey;
                text-decoration: none;
            }
        }
    }
}
