@import '../../assets/style/shared.scss';

.button {
	width: 100%;
	height: 42px;
	padding-top: 3px;
	cursor: pointer;
	background: $highlight-blue;
	color: $white;
	font-size: 14px;
	text-align: center;
	border: none;

	&--text {
		background: none;
		height: auto;
		width: auto;
		color: $highlight-blue;
	}

	&--hidden {
		display: none;
	}

    &:disabled {
        cursor: not-allowed;
        background: $darker-grey;
    }
}
