@import '../../../assets/style/shared.scss';

.global-footer {
    width: 100%;
    min-height: 225px;
    background: $white;
    border-top: 2px solid $darker-grey;
    border-bottom: 5px solid $dark;
}
