
/** SASS Imports */
@import './global/reset.scss';

/** Global Styles */
@import './shared.scss';

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: $light-grey;
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
