$white: #FFFFFF;

$light-grey: #FAFAFA;
$medium-grey: #E8E8E8;
$darker-grey: #DDDDDD;
$blue-grey: #505C60;

$light-red: #A71F23;
$medium-red: #7D1519;
$dark-red: #60090C;

$highlight-blue: #1786B2;
$highlight-green: #73C26F;

$dark: #231F20;
