@import '../../../assets/style/shared.scss';

.login {
	width: 100%;

	&__form {
		padding-bottom: 20px;
		border-bottom: 2px solid $medium-grey;
	}

	&__email {
		margin-bottom: 7px;
	}

	&__actions {
		margin: 15px 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__forgot {
		color: $light-red;
	}

	&__no-account {
		margin: 20px 0 0 0;
	}

	&__signup {
		margin: 0 0 0 5px;
		color: $highlight-blue;
	}

    &__error {
        @extend %error-message;
    }
}
