@import '../../assets/style/shared.scss';

.input {
	width: 100%;

	&__field {
		width: 100%;
		height: 42px;
		border: 2px solid $medium-grey;
		padding: 17px 15px 15px 15px;
		font-size: 14px;
		color: $blue-grey;
	}

	&__label {
		&--hidden {
			display: none
		}
	}
}
